@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: white;
}

header {
    background-color: #141414;
    padding: 1rem;
    text-align: center;
}

header img {
    width: 120px;
}

.logo {
    margin-right: 600px;
}

.search {
    margin-left: 500px;
}

.main-content {
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 1.5em;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.movie-card1 {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    scroll-snap-align: start;
    width: 700px;
}

.movie-card1 img {
    width: 100%;
    border-bottom: 1px solid #333;
    display: block;
}

.movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    scroll-snap-align: start;
    width: 200px;
}

.movie-card img {
    width: 100%;
    border-bottom: 1px solid #333;
    display: block;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.movie-card:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    margin: 0;
}

footer {
    background-color: #141414;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}